<div class="row">
  <div class="col-sm">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="recipeActions">Manage Recipe
        <span class="popover-arrow"></span>
      </button>
      <ul class="dropdown-menu" id="recipeActions">
        <li><a class="dropdown-item" href="#">To Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-sm">
    Ingredients
  </div>
</div>
